/* Universal  */
* {
  margin: 0;
  border: 0;
  padding: 0;
}

/* Font & Text  */
a {
  text-decoration: none;
}
.desktop a {
  color: gray;
}
a:hover {
  color: rgb(112, 102, 201);
}

.banner-txt {
  font-weight: 600;
  color: rgb(83, 80, 80);
}
body {
  font-family: "Roboto", sans-serif;
}

/* Mobile */
@media only screen and (max-width: 767px) {
  .desktop {
    display: none;
  }
  .subject {
    font-size: 3rem;
    font-weight: bold;
    color: rgb(49, 47, 47);
  }

  .Mobile {
    height: 64px;
    display: flex;
    justify-content: space-between;
    padding: 14px 14px 0px 14px;
  }
  .Mobile img {
    height: 50px;
  }
  .Banner {
    display: flex;
    background-color: rgb(197, 184, 184);
    flex-direction: column;
  }
  .Banner img {
    width: 100vw;
  }

  .Banner .txt {
    padding: 32px 16px;
    font-size: 1.5rem;
  }
  .Banner button {
    background-color: rgb(150, 139, 139);
    color: white;
    padding: 8px 0px;
    font-size: large;
    width: 100%;
  }
  .Banner button:hover {
    background-color: rgb(63, 60, 60);
    cursor: pointer;
  }
}

/* Desktop */
@media only screen and (min-width: 768px) {
  .Mobile {
    display: none;
  }
  .subject {
    font-size: 4em;
    font-weight: bold;
    color: rgb(49, 47, 47);
  }
  .desktop img {
    height: 3rem;
    width: auto;
    padding-left: 24px;
  }

  .desktop {
    display: flex;
    justify-content: space-between;
    height: 64px;
  }

  /* Right Panel */
  .desktop .right {
    font-size: 32px;
    display: flex;
    gap: 0;
    padding: 16px 24px 16px 0px;
  }
  .desktop span {
    color: gray;
  }

  /* Left Panel */
  .desktop .left ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 20px 24px;
  }
  .desktop .left li {
    margin-right: 16px;
    font-size: medium;
  }
  .Banner {
    display: flex;
    background-color: rgb(197, 184, 184);
  }
  .Banner img {
    width: 100%;
  }
  .Banner .img {
    padding: 32px 24px;
    width: 60%;
  }
  .Banner img {
    height: 100%;
  }
  .Banner .txt {
    padding: 10rem 24px;
  }
  .banner-txt {
    font-size: 50px;
  }
  .Banner button {
    background-color: rgb(49, 47, 47);
    color: white;
    padding: 8px 0px;
    font-size: large;
    width: 100%;
  }
  .Banner button:hover {
    background-color: rgb(102, 96, 96);
    cursor: pointer;
  }
}
