/* Universal  */
* {
  margin: 0;
  border: 0;
  padding: 0;
  max-width: 100%;
}

/* Font & Text  */
a {
  text-decoration: none;
}
.desktop a {
  color: gray;
}
a:hover {
  color: rgb(112, 102, 201);
}

.banner-txt {
  font-weight: 600;
  color: rgb(83, 80, 80);
}
body {
  font-family: "Roboto", sans-serif;
}

/* Mobile */
@media only screen and (max-width: 768px) {
  .desktop {
    display: none;
  }
  .Information {
    display: none;
  }
  .learning-desktop {
    display: none;
  }
  .subject {
    font-size: 3rem;
    font-weight: bold;
    color: rgb(49, 47, 47);
  }
  .desktop-thesis {
    display: none;
  }
  .Mobile {
    height: 64px;
    display: flex;
    justify-content: space-between;
    padding: 14px 14px 0px 14px;
  }
  .Mobile img {
    height: 50px;
  }
  .Banner {
    display: flex;
    background-color: rgb(197, 184, 184);
    flex-direction: column;
  }
  .Banner img {
    width: 100vw;
  }

  .Banner .txt {
    padding: 32px 16px;
    font-size: 1.5rem;
  }
  .Banner button {
    background-color: rgb(150, 139, 139);
    color: white;
    padding: 8px 0px;
    font-size: large;
    width: 100%;
  }
  .Banner button:hover {
    background-color: rgb(63, 60, 60);
    cursor: pointer;
  }
  .information-subject2 {
    font-size: 1.5rem;
    font-weight: 800;
    padding: 8px 0px;
    color: rgb(85, 79, 79);
  }
  .small-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 65%;
    padding: 5%;
  }
  .information-normal-text {
    padding: 8px 0px;
    color: rgb(152, 170, 170);
    font-size: 1rem;
  }
  .link-information {
    font-size: 1rem;
    color: rgb(139, 139, 255);
  }
  .inf-mobile-img {
    width: 100vw;
  }
  .mobile-learning-box {
    background-color: #d8d8d8;
    padding: 16px 16px 24px 16px;
    font-size: 2rem;
    font-weight: 500;
    color: #494949;
  }
  .mobile-learning-box:hover {
    cursor: pointer;
  }
  .mobile-learning-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 500px;
    padding: 8px 16px;
  }
  footer {
    padding-top: 16px;
    padding-bottom: 16px;
    color: #494949;
    margin-top: 24px;
  }
  .team {
    display: none;
  }
}

/* Desktop */
@media only screen and (min-width: 768px) {
  .Mobile {
    display: none;
  }
  .Information-mobile {
    display: none;
  }
  .mobile-learning {
    display: none;
  }
  .mobile-video {
    display: none;
  }
  .subject {
    font-size: 3em;
    font-weight: bold;
    color: #494949;
  }
  .subject2 {
    font-size: 2.5em;
    font-weight: bold;
    color: #494949;
  }

  .desktop img {
    height: 3rem;
    width: auto;
    padding-left: 24px;
  }

  .desktop {
    display: flex;
    justify-content: space-between;
    height: 64px;
  }

  /* Right Panel */
  .desktop .nav-right {
    font-size: 32px;
    display: flex;
    gap: 0;
    padding: 16px 24px 16px 0px;
  }
  .desktop span {
    color: gray;
  }

  /* Left Panel */
  .desktop .nav-left ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 20px 24px;
  }
  .desktop .nav-left li {
    padding-right: 16px;
    font-size: medium;
    font-weight: 500;
  }
  .Banner {
    display: flex;
    background-color: #d8d8d8;
  }
  .banner-right {
    padding-top: 20%;
  }
  .banner-img {
    width: 60vw;
  }
  .Banner .img {
    padding: 32px 24px;
  }
  .Banner img {
    height: 100%;
  }
  .Banner .txt {
    padding: 10rem 24px;
  }
  .banner-txt {
    font-size: 2rem;
    font-weight: 400;
  }
  .Banner button {
    background-color: rgb(73, 70, 70);
    color: white;
    padding: 8px 0px;
    font-size: large;
    width: 100%;
  }
  .Banner button:hover {
    background-color: rgb(102, 96, 96);
    cursor: pointer;
  }
  .Information {
    display: flex;
  }
  .Information-small {
    padding: 16px;
    width: 40vw;
    display: flex;
  }
  .Information-small img {
    height: 25%;
    width: 30%;
  }
  .Information-small:hover {
    background-color: rgb(197, 184, 184);
    cursor: pointer;
  }
  .Information-left {
    width: 60vw;
    padding: 32px 24px;
  }
  .information-main {
    width: 60vw;
  }
  .information-subject2 {
    font-size: 1.5rem;
    font-weight: 500;
    padding: 8px 0px;
    color: rgb(85, 79, 79);
  }
  .small-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5%;
  }
  .information-normal-text {
    padding: 8px 0px;
    color: rgb(152, 170, 170);
    font-size: 1.2rem;
    width: auto;
  }
  .link-information {
    font-size: 1.5rem;
    color: rgb(139, 139, 255);
  }
  .Information-right {
    padding-top: 15px;
    width: px;
  }
  .learning-desktop {
    background-color: #d8d8d8;
  }
  .learning-card {
    width: 25vw;
    padding: 32px 32px;
  }
  .desktop-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .card-text {
    padding: 16px;
    background-color: white;
    height: auto;
    min-height: 180px;
  }
  .card-img {
    height: auto;
    width: 25vw;
    cursor: pointer;
  }
  .desktop-thesis {
    display: flex;
  }
  .thesis-left {
    padding-left: 24px;
    padding-right: 24px;
    width: 60vw;
  }
  .thesis-card {
    display: flex;
  }
  .thesis-right {
    width: 40%;
    cursor: pointer;
    height: fit-content;
  }
  .thesis-card:hover {
    background-color: #d8d8d8;
  }
  .thesis-img {
    width: 35%;
    height: auto;
    padding: 16px;
  }
  .thesis-card-txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 65%;
  }
  .team {
    padding-right: 10px;
    color: #494949;
    font-weight: 500;
  }

  footer {
    padding-top: 16px;
    padding-left: 24px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 24px;
  }
}
